@use "@/styles/colors.scss";
@use "@/styles/fonts.scss";
@use "@/styles/breakpoints.scss";

.brandTopper {
  background-color: colors.$brand-yellow;
  color: black;
  padding: 10px 0px;
  border-bottom: 4px solid colors.$brand-yellow-dark;

  @include breakpoints.at-least("lg") {
    padding: 20px 0px 10rem;
    border-bottom: none;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.brand {
  display: grid;
  grid-template-columns: 175px auto;
  column-gap: 1.5rem;
  align-items: center;

  @include breakpoints.at-least("lg") {
    grid-template-columns: 300px auto;
  }

  .logo {
    width: 100%;
  }

  .tag {
    display: none;
    font-size: fonts.$size-sm;
    font-style: italic;

    @include breakpoints.at-least("lg") {
      display: block;
    }
  }
}

.menu {
  display: none;
  padding-left: 1rem;

  @include breakpoints.at-least("md") {
    display: block;
  }
}

.menuList {
  align-self: center;
  display: flex;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;

  .menuListItem {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 700;
  }
}
