@use "@/styles/colors.scss";

.container {
  margin: 40px 0;

  .resultsTop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .stats {
      margin-bottom: 20px;
    }

    .sorting {
      display: flex;
      align-items: baseline;
      gap: 6px;

      select {
        background: colors.$bg-light;
        border: 1px solid colors.$border-main;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 6px;
        cursor: pointer;
      }
    }
  }

  .schools {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 2em;
    row-gap: 2em;
  }
}
