@use "@/styles/colors.scss";

.whereInput {
  position: relative;
  padding: var(--bar-padding);

  .label {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
  }

  .inputWrapper {
    display: flex;
    gap: 8px;
  }

  .states {
    display: flex;
    gap: 8px;
  }

  .state {
    background: none;
    border: 1px solid colors.$border-main;
    border-radius: 4px;
    padding: 4px 6px;
    cursor: pointer;
    white-space: nowrap;
  }

  .input {
    font-size: 18px;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    background: none;

    &::placeholder {
      color: colors.$text-light;
    }
  }
}
