DATABASE_URL="<YOUR DB URL>"
BLOB_READ_WRITE_TOKEN="<VERCEL BLOB TOKEN>"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="<PUBLISHABLE KEY FROM CLERK>"
CLERK_SECRET_KEY="<SECRET KEY FROM CLERK>"
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
VERCEL_ENV="development"
