$side-padding: calc((100vw - 890px) / 2);

.recommendedSection {
  margin: 40px 0;

  .title {
    margin-bottom: 1em;
    padding-left: $side-padding;
  }

  .schools {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    grid-template-rows: auto;
    column-gap: 1em;
    padding-bottom: 12px;
    padding-left: $side-padding;
    padding-right: $side-padding;
  }
}
