@use "@/styles/colors.scss";

.title {
  text-align: center;
  padding: 8px 20px;
  border-bottom: 1px solid colors.$border-main;
}

.costSection,
.schoolTypeSection,
.degreeTypeSection,
.otherSection {
  padding: 20px;
  border-bottom: 1px solid colors.$border-main;

  h3 {
    margin-bottom: 8px;
  }
}

.schoolTypes {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  label {
    cursor: pointer;
    text-align: center;

    &:has(input[type="checkbox"]:checked) {
      font-weight: bold;
    }

    input[type="checkbox"] {
      clip: rect(1px, 1px, 1px, 1px);
      word-wrap: normal;
      border: 0;
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      overflow-wrap: normal;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    .schoolTypeIcon {
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid colors.$border-main;
      background: white;
      cursor: pointer;
    }

    &:has(input[type="checkbox"]:checked) > .schoolTypeIcon {
      border: 1px solid colors.$text-light;
      background: colors.$bg-light;
      font-weight: bold;
    }
  }
}

.degreeTypes {
  display: flex;
  flex-wrap: wrap;

  label {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid colors.$border-main;
    background: white;
    cursor: pointer;

    &:has(input[type="radio"]:checked) {
      border: 1px solid colors.$text-light;
      background: colors.$bg-light;
      font-weight: bold;
    }

    input[type="radio"] {
      clip: rect(1px, 1px, 1px, 1px);
      word-wrap: normal;
      border: 0;
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      overflow-wrap: normal;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}

.other {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  label {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid colors.$border-main;
    background: white;
    cursor: pointer;

    &:has(input[type="checkbox"]:checked) {
      border: 1px solid colors.$text-light;
      background: colors.$bg-light;
      font-weight: bold;
    }

    input[type="checkbox"] {
      clip: rect(1px, 1px, 1px, 1px);
      word-wrap: normal;
      border: 0;
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      overflow-wrap: normal;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}

.controls {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .clearButton {
    background: none;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
  }

  .searchButton {
    background: colors.$brand-yellow;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
  }
}
