@use "@/styles/colors.scss";

.adSlot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 40px 0;
  background-color: colors.$bg-light;
  text-transform: uppercase;
  color: colors.$text-light;
}
