@use "@/styles/colors.scss";

.adSlot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  padding: 10px 0px 16px;
  margin: 60px 0;
  background-color: colors.$bg-light;
  text-transform: uppercase;
  color: colors.$text-light;
}

.adContainer {
  min-height: 90px;

  @media screen and (max-width: 740px) {
    min-height: 250px;
  }
}
