$brand-yellow: #FFCC33;
$brand-yellow-dark: #D7A40B;
$brand-blue: #00ADEF;
$brand-blue-dark: #007EAE;

$text-main: #111111;
$text-light: #515151;

$bg-light: #F0F0F0;
$bg-dark: #333333;

$border-main: #CCCCCC;
