@use "@/styles/colors.scss";

.section {
  &.section1 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid colors.$text-light;
  }
}

.label {
  margin: 0.2em 0;
}

.localeLabel {
  text-transform: uppercase;
  color: colors.$text-light;
}

.stringInput {
  display: block;
  width: 100%;
  border: 1px solid colors.$border-main;
  margin: 4px 0 8px;
  padding: 4px;
}

.richCopy,
.autotext {
  :global(.rsw-ce) {
    p {
      margin-bottom: 1em;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.autotext {
  .autotextHelp {
    margin-top: 8px;
    padding: 12px;
    border: 1px solid colors.$border-main;
    border-radius: 4px;
  }

  .autotextPreviewTitle {
    color: colors.$text-light;
    font-weight: bold;
  }

  .autotextPreview {
    border-radius: 4px;
    background: colors.$bg-light;
    padding: 12px;
  }

  .autotextVariablesTitle {
    color: colors.$text-light;
    font-weight: bold;
  }

  .autotextVariables {
    margin-top: 8px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 2px;
      list-style: none;
      padding: 0;
    }

    .li {
      padding: 0;
    }

    .varName {
      padding: 2px 4px;
      border-radius: 4px;
      font-family: monospace;
      background: #fff5fa;
      color: #6d0031;
    }
  }
}

.imagePicker {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .imagePreview {
    position: relative;
    display: flex;
    justify-content: center;
    background: colors.$bg-light;
    border-radius: 4px;
    padding: 12px;

    .image {
      width: 100%;
      max-width: 300px;
      max-height: 200px;
      align-self: center;
      object-fit: contain;
    }

    button {
      position: absolute;
      top: 12px;
      right: 12px;
    }
  }

  .imagePlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    border: 1px dashed colors.$border-main;
    border-radius: 4px;
    background: colors.$bg-light;
  }
}
