@use "@/styles/colors.scss";

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(12px);
  z-index: 2;
  background: white;
  border: 1px solid colors.$text-light;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));

  &:empty {
    display: none;
  }
}
