@use "@/styles/colors.scss";

.container {
  margin: 40px 0;
}

.title {
  margin-bottom: 12px;
}

.graf {
  margin-bottom: 1em;
}

.charts {
  min-height: 200px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  justify-content: center;
  column-gap: 12px;
}

.placeholder {
  background: colors.$bg-light;
}
