@use "@/styles/colors.scss";

.text {
  ul {
    font-weight: bold;
    color: var(--highlight-color, #{colors.$text-main});
    text-decoration: none;
  }
}

.graf {
  font-size: 22px;
  line-height: 140%;
}
