@use "@/styles/colors.scss";

.wrapper {
  padding: 40px 0;

  &.highlight {
    background: colors.$bg-light;
  }
}

.nav {
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 890px;

  .brand {
    font-weight: 900;
    font-size: 20px;
  }

  .savedSchools {
    background: colors.$bg-dark;
    color: white;
    padding: 4px 8px;
  }
}

.searchBarContainer {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: stretch;
  background: white;
  border: 1px solid colors.$text-light;
  width: 100%;
  max-width: 890px;
  margin: 10px auto;

  &.active {
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  }

  .searchButtonContainer {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    padding: 0px 20px;

    button {
      background: colors.$brand-yellow;
      outline: none;
      border: 2px solid colors.$brand-yellow-dark;
      padding: 12px;
      cursor: pointer;
    }
  }
}

.grayed {
  background: colors.$bg-light;
}

.dividerRight {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 60%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: colors.$border-main;
  }
}
