@use "@/styles/breakpoints.scss";

.well {
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
  width: 1200px;

  @include breakpoints.at-least("lg") {
    margin-left: unset;
    margin-right: unset;
    max-width: unset;
    width: unset;

    &.full {
      margin-left: 0;
      margin-right: 0;
    }

    &.page {
      margin-left: auto;
      margin-right: auto;
      max-width: 90vw;
      width: 1200px;
    }

    &.text {
      margin-left: auto;
      margin-right: auto;
      max-width: 600px;
    }

    &.narrow {
      margin-left: auto;
      margin-right: auto;
      max-width: 380px;
    }

    &.section {
      margin-top: 80px;
      margin-bottom: 80px;
    }
  }
}
