@use "@/styles/colors.scss";

.legend {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 8px;
  align-items: center;
  margin-top: 16px;
}

.svgWrapper {
  padding: 12px 0 4px;
}

.line {
  stroke: colors.$brand-pink;
  stroke-width: 2px;
}

.area {
  fill: colors.$brand-pink;
  fill-opacity: 0.2;
}

.labels {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.projection {
  align-self: center;
}

.estimation {
  color: colors.$text-light;
}
