@use "@/styles/colors.scss";

.adSlot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  padding: 10px 0px 16px;
  margin: 0;
  background-color: colors.$bg-light;
}

.adLabel {
  text-transform: uppercase;
  color: colors.$text-light;
}

.adContainer {
  @media screen and (min-width: 300px) {
    min-width: 300px;
    min-height: 250px;
  }

  @media screen and (min-width: 740px) {
    min-width: 728px;
    min-height: 90px;
  }
}
